// Primary color
$SC: hsl(172, 67%, 45%);

//Neutral colors 
$VDC: hsl(183, 100%, 15%);
$DGC: hsl(186, 14%, 43%);
$DGCL: hsl(184, 14%, 56%);
$LGC: hsl(185, 41%, 84%);
$LGCL: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$error: rgb(255, 71, 71);